//colores
// $color-primary: #222831;
// $color-secondary: #393e46;
// $color-tertiary: #eeeeee;
// $color-background-gray: #f7f7f7;
// $color-details: #03647c;
// $color-details-light: #05cbfd;
// $color-features-1: #fc3a52;
// $color-features-2: #f9b248;
// $color-features-3: #e8d5b7;
// colores
// $color-primary: #7874f2;
// $color-secondary: #8e98f5;
// $color-tertiary: #eeeeee;
// $color-background-gray: #f7f7f7;
// $color-background-purple: #dfe2fe;
// $color-details: #b1cbfa;
// $color-details-light: #05cbfd;
// $color-features-1: #fc3a52;
// $color-features-2: #f9b248;
// $color-features-3: #e8d5b7;
$color-primary: #2c3e50;
$color-secondary: #2980b9;
$color-tertiary: #eeeeee;
$color-background-gray: #f7f7f7;
$color-background-purple: #33cccc;
$color-details: #ecf0f1;
$color-details-light: #05cbfd;
$color-employee-1: #fc3a52;
$color-employee-2:#f30e5c;
$color-company-1:#8e98f5;
$color-company-2:#7874f2;
// margenes
$margin-bg:5rem;
$margin-md:4rem;
$margin-sm:3rem;
$margin-heading-bottom: 8rem;
$margin-zero: 0;
//ancho de grid
$grid-width:190rem;
$vertical-gutter:4rem;
$horizontal-gutter:2rem;