    .row {
        max-width: $grid-width;
        margin: 0 auto;
        &:not(:last-child) {
            margin-bottom: $margin-sm;
        }
        @include clearfix;
        [class^="col-"] {
            float: left;
        }
        [class$="-m"] {
            &:not(:last-child) {
                margin-right: $horizontal-gutter;
            }
        }
        [class$="-z"] {
            margin: 0;
        }
        .col-1-of-2-m {
            width: calc((100% - #{$horizontal-gutter}) / 2);
        }
        .col-1-of-3-m {
            width: calc((100% - 2 * #{$horizontal-gutter}) / 3);
        }
        .col-1-of-4-m {
            width: calc((100% - 3 * #{$horizontal-gutter}) / 4);
        }
        .col-2-of-3-m {
            width: calc(2 * ((100% - 2 * #{$horizontal-gutter}) / 3) + #{$horizontal-gutter});
        }
        .col-2-of-4-m {
            width: calc(2 * ((100% - 3 * #{$horizontal-gutter}) / 4) + #{$horizontal-gutter});
        }
        .col-3-of-4-m {
            width: calc(3 * ((100% - 3 * #{$horizontal-gutter}) / 4) + 2* #{$horizontal-gutter});
        }
        .col-1-of-2-z {
            width: calc(100% / 2);
        }
        .col-1-of-3-z {
            width: calc(100% / 3)
        }
        .col-1-of-4-z {
            width: calc(100% / 4);
        }
        .col-2-of-3-z {
            width: calc(2 * (100% / 3));
        }
        .col-2-of-4-z {
            width: calc(2 * (100% / 4));
        }
        .col-3-of-4-z {
            width: calc(3 * (100% / 4));
        }
    }
    
    .flex-col-1-of-2--col,
    .flex-col-1-of-2--row {
        display: flex;
        flex: 0 0 50%;
    }
    
    .flex-col-1-of-2--col {
        flex-direction: column;
    }