.text-box {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%), ;
    text-align: center;
    -webkit-transform: translate(-50%, -50%), ;
    -moz-transform: translate(-50%, -50%), ;
    -ms-transform: translate(-50%, -50%), ;
    -o-transform: translate(-50%, -50%), ;
}

.form-organizer {
    border: 8px solid $color-white-1;
    height: 100%;
    border-radius: 8px;
    padding: 3rem;
    position: relative;
    .company-radio {
        display: none;
    }
}

.left-divided {
    width: 50%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    justify-content: space-around;
    position: relative;
}

.right-divided {
    width: 50%;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.modal-row {
    display: flex;
    margin-bottom: 4.75rem;
    justify-content: space-between;
}