*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    @include responsive(phone) {
        font-size: 43.75%;
    }
    @include responsive(tab-port) {
        font-size: 50%;
    }
    @include responsive(tab-land) {
        font-size: 56.25%;
    }
    @include responsive(desktop) {
        font-size: 75%;
    }
}

body {
    color: $color-black-1;
    font-size: 1.6rem;
    box-sizing: border-box;
}