html(lang='en')
  head
  body
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    script(src='https://code.jquery.com/jquery-1.10.2.js')
    link(rel='stylesheet', href='stylesheets/styles.css')
    script(src='javascripts/admin-emp.js')
    title Employ.me
    header.profile-header
      img.logo(src='images/logo.png', alt='Logo')
      form.search(action='')
        input.search-input(type='text', placeholder='Buscar')
        button.search-btn
          svg.search-icon
            use(xlink:href='images/sprite.svg#icon-search')
      nav.header-navigation
        .header-navigation-icon-box
          svg.header-navigation-icon
            use(xlink:href='images/sprite.svg#icon-sign-in')
    .container
      nav.sidebar
        ul.sidebar-navigation
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/admin')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-address-card')
              span.sidebar-navigation-description Aspirantes
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/render-emp')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-group')
              span.sidebar-navigation-description Empresas
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/cerrarsesion')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-sign-in')
              span.sidebar-navigation-description Salir
      main.asp-container
        #empresas.information-table-list
