doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='stylesheets/styles.css')
    title Empresas Interesadas
  body
    header.profile-header
      img.logo(src='images/logo.png', alt='Logo')
      
      nav.header-navigation
        .header-navigation-icon-box
          svg.header-navigation-icon
            use(xlink:href='images/sprite.svg#icon-comments')
          span.header-navigation-notification 
        .header-navigation-icon-box
          svg.header-navigation-icon
            use(xlink:href='images/sprite.svg#icon-sign-in')
    .container
      nav.sidebar
        ul.sidebar-navigation
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/perfilasp')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-user')
              span.sidebar-navigation-description Perfil
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/asp-interested')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-heart')
              span.sidebar-navigation-description Interesados
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/portafolio')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-address-card')
              span.sidebar-navigation-description Portafolio
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/especialidad')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-bookmark')
              span.sidebar-navigation-description Especialidad
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/cerrarsesion')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-sign-in')
              span.sidebar-navigation-description Salir
      main.list-asp
        h1
          | Empresas Interesadas | Employ.me
        .date-separator
          svg.date-separator-icon
        each empresa in empresas  
            a.information-tr(href='')
                .information-td-data
                    .information-td-data-photo
                    img.data-user-photo(src='images/user-photo.jpg')
                    .information-td-data-name=empresa.nom_emp
                .information-td-email-container
                    .information-td-email=empresa.email_emp
                .information-td-location-container
                    .information-td-location CDMX
                .information-td-speciality-container
                    .information-td-speciality
                    .information-td-tag
