doctype html
html(lang='en')
  head
    script(src='https://code.jquery.com/jquery-1.10.2.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='stylesheets/styles.css')
    script(src='javascripts/enterprises.js')
    title Empresas Interesadas
  body
    header.profile-header
      img.logo(src='images/logo.png', alt='Logo')
      
      nav.header-navigation
        .header-navigation-icon-box
          svg.header-navigation-icon
            use(xlink:href='images/sprite.svg#icon-comments')
          span.header-navigation-notification 
        .header-navigation-icon-box
          svg.header-navigation-icon
            use(xlink:href='images/sprite.svg#icon-sign-in')
    .container
      nav.sidebar
        ul.sidebar-navigation
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/perfilasp')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-user')
              span.sidebar-navigation-description Perfil
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/asp-interested')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-heart')
              span.sidebar-navigation-description Interesados
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/asp-cv')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-address-card')
              span.sidebar-navigation-description Curriculum
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/cerrarsesion')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-sign-in')
              span.sidebar-navigation-description Salir
      main.list-asp
        h1(style='font-size:6rem;') Empresas interesadas en ti.
        .date-separator
          svg.date-separator-icon
            br
        div#container
    