doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='stylesheets/styles.css')
    title Mi perfil
  body
    header.profile-header
      img.logo(src='images/logo.png', alt='Logo')
      form.search(action='')
        input.search-input(type='text', placeholder='Buscar')
        button.search-btn
          svg.search-icon
            use(xlink:href='images/sprite.svg#icon-search')
      nav.header-navigation
        .header-navigation-icon-box
          svg.header-navigation-icon
            use(xlink:href='images/sprite.svg#icon-comments', x='', y='')
          span.header-navigation-notification
            | 9
        .header-navigation-icon-box
          svg.header-navigation-icon
            use(xlink:href='images/sprite.svg#icon-sign-in', x='', y='')
    .container
      nav.sidebar
        ul.sidebar-navigation
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/perfilasp')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-user', x='', y='')
              span.sidebar-navigation-description Perfil
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-heart', x='', y='')
              span.sidebar-navigation-description Interesados
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-address-card', x='', y='')
              span.sidebar-navigation-description Portafolio
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/especialidad')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-bookmark', x='', y='')
              span.sidebar-navigation-description Especialidad
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/cerrarsesion')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-sign-in', x='', y='')
              span.sidebar-navigation-description Salir
      main.portfolio
        .portfolio-information
          .information-photo-container
            button.information-photo-pick
              svg.information-photo-icon
                use(xlink:href='images/sprite.svg#icon-camera', x='', y='')
              span.information-photo-select Seleccionar foto
            img.information-photo(src='/'+f )
          .information-data
            .information-data-field Nombre:  #{nombre}
            .information-data-field Email: #{email}
            .information-data-field Fecha de Nacimiento:  #{fn}
            .information-data-field Sexo: 
            .information-data-field Telefono: 
        .portfolio-curriculum
          .flex-col-1-of-2--row
            .curriculum-container
              .curriculum
                img.test-curriculum(src='images/curriculum.jpg', alt='')
          .flex-col-1-of-2--col
            .github
              | github
            .video
              .curriculum-required
                a.curriculum-required-link(href='')
                  svg.curriculum-required-icon
                    use(xlink:href='images/sprite.svg#icon-youtube', x='', y='')
                  span.curriculum-required-link-text Agregar video
