doctype html
html(lang='en')
  head
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(type='text/javascript', src='javascripts/validaciones.js')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='stylesheets/styles.css')
    script(src='javascripts/empresa.js')
    title Employ.me
  body
    
    #modal-youtube.modal-background
      .modal
        svg.modal-exit.card-exit--employee
          use(xlink:href='images/sprite.svg#icon-close')
        svg.modal-youtube-icon
          use(xlink:href='images/sprite.svg#icon-youtube-play')
    header.profile-header
      img.logo(src='images/logo.png', alt='Logo')
      form.search(action='')
        input.search-input(type='text', placeholder='Buscar')
        button.search-btn
          svg.search-icon
            use(xlink:href='images/sprite.svg#icon-search')
      nav.header-navigation
        .header-navigation-icon-box
          svg.header-navigation-icon
            use(xlink:href='images/sprite.svg#icon-comments')
          span.header-navigation-notification
            | 
        .header-navigation-icon-box
          svg.header-navigation-icon
            use(xlink:href='images/sprite.svg#icon-sign-in')
    .container
      nav.sidebar
        ul.sidebar-navigation
          br
          br
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/emp-profile')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-user')
              span.sidebar-navigation-description Perfil
          br
          br
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/aspirantes')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-heart')
              span.sidebar-navigation-description Aspirantes
          br
          br
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/cerrarsesion')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-sign-in')
              span.sidebar-navigation-description Salir
      main.portfolio
        .portfolio-information-users
          .information-photo-container
            form#picture.information-photo-pick(action='/fotoemp', method='post',enctype="multipart/form-data")
              input#file.information-photo-select-hidden(type='file', name='file', value='Seleccionar foto')
              label(for='file')
                svg#camara.information-photo-icon
                  use(xlink:href='images/sprite.svg#icon-camera')
            img.information-photo
          h1.user-name
            | #{nombre}
          .information-map  
          #modal1.modal.modal-edit
            h3.modal-heading
              svg.information-data-icon
                use(xlink:href='images/sprite.svg#icon-pencil ')
              |  Completar / Editar Informacion
            .modal-information
              hr
              .edit-info-block-
                span.edit-info-span Correo Electronico: 
                input#correo.edit-info-input(type='text',name="mail",required="required",placeholder="",onkeypress="return soloCorreo(event)")
                span.edit-info-span Sitio web:
                input#sitio.edit-info-input(type='text',name="sitio",required="required",onkeypress="return soloCorreo(event)")
                span.edit-info-span Dirección:
                input#dir.edit-info-input(type='text',placeholder="Agregar",name="dir",required="required",onkeypress="return soloCorreo(event)")
                span.edit-info-span Número telefónico:
                input#tel.edit-info-input(type='text',name="num",required="required",placeholder="Agregar",onkeypress="return soloCorreo(event)")
                
                //  span.edit-info-span Contraseña:
                  input#contra.edit-info-input(type='text',name="pass",required="required",placeholder="Opcional",onkeypress="return soloCorreo(event)")
                  span.edit-info-span Confirmar contraseña:
                  input#contrac.edit-info-input(type='text',name="confirm",required="required",placeholder="Opcional",onkeypress="return soloCorreo(event)")
            .modal-btn-container
              a#guardar.btn-blue.btn Guardar
              a#cerrar.btn-blue.btn Cerrar 
        .specialty-container
          .specialty-information
          .specialty-information
          .specialty-information
        .specialty-container
          .specialty-information
          .specialty-information
          .specialty-information  
        .portfolio-curriculum
          .flex-col-1-of-2--row
            #enterprise-text.enterprise-text 
               .info
                  h1
                   center Acerca de nosotros como empresa.     
                   textarea#des.form-textarea(maxlength="1000", placeholder='Agrega una descripcion breve de tu empresa')
                   a#edit.btn.btn-blue(style="font-size:2.3rem;") Editar descripción.
                  br
                  a#save.btn.btn-blue(style="font-size:2.3rem;") Guardar
          .flex-col-1-of-2--col
            div
              .enterprise-info
                .info
                  h1
                   center Contacto.
                .information-data-field
                  svg.information-data-icon
                    use(xlink:href='images/sprite.svg#icon-mobile')
                  span Telefóno 
                    input.form-inputt(type="text",readonly)#num
                .information-data-field
                  svg.information-data-icon
                    use(xlink:href='images/sprite.svg#icon-envelope')
                  span Email: 
                    input.form-inputt(type="text", readonly="readonly")#em 
                .information-data-field
                  svg.information-data-icon
                    use(xlink:href='images/sprite.svg#icon-envelope')
                  span Dirección:
                     input.form-inputt(type="text", readonly="readonly")#ubi
                .information-data-field
                  svg.information-data-icon
                    use(xlink:href='images/sprite.svg#icon-envelope')
                  span Página web: 
                    input.form-inputt(type="text",readonly)#site
                a.information-edit-btn(href='#modal-edit')
                  svg.information-data-icon
                    use(xlink:href='images/sprite.svg#icon-pencil ')
              a#complete.btn.btn-blue Completar / editar perfil.
            