doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='stylesheets/styles.css')
    title Aspirantes | Employ.me
  body
    header.profile-header
      img.logo(src='images/logo.png', alt='Logo')
      form.search(action='')
        input.search-input(type='text', placeholder='Buscar')
        button.search-btn
          svg.search-icon
            use(xlink:href='images/sprite.svg#icon-search')
      nav.header-navigation
        .header-navigation-icon-box
          svg.header-navigation-icon
            use(xlink:href='images/sprite.svg#icon-comments')
          span.header-navigation-notification
            | 9
        .header-navigation-icon-box
          svg.header-navigation-icon
            use(xlink:href='images/sprite.svg#icon-sign-in')
    .container
      nav.sidebar
        ul.sidebar-navigation
          br
          br
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/emp-profile')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-user')
              span.sidebar-navigation-description Perfil
          br
          br
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/aspirantes')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-heart')
              span.sidebar-navigation-description Aspirantes
          //li.sidebar-navigation-item
            a.sidebar-navigation-link(href='')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-address-card')
              span.sidebar-navigation-description Portafolio
            li.sidebar-navigation-item
              a.sidebar-navigation-link(href='asp-specialty.html')
                svg.sidebar-navigation-icon
                  use(xlink:href='images/sprite.svg#icon-bookmark')
                span.sidebar-navigation-description Especialidad
          br
          br
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-sign-in')
              span.sidebar-navigation-description Salir
      main.list-asp
        .list-asp-utilities
          .list-asp-utilities-container
            h4 Aspirantes
            .list-asp-utilities-icon-container
              svg.list-asp-utilities-icon
                use(xlink:href='images/sprite.svg#icon-list-ul')
            .list-asp-utilities-icon-container
              svg.list-asp-utilities-icon
                use(xlink:href='images/sprite.svg#icon-th')
          .list-asp-utilities-container
            nav.list-asp-utilities-icon-container
              svg.list-asp-utilities-icon-font
                use(xlink:href='images/sprite.svg#icon-angle-down')
              |  Ordenar por:
            ul.list-asp-order
              li.list-asp-order-element
                a.list-asp-order-link(href='') Nombre
              li.list-asp-order-element
                a.list-asp-order-link(href='') Sexo
              li.list-asp-order-element
                a.list-asp-order-link(href='') Edad
            .list-asp-utilities-icon-container
              svg.list-asp-utilities-icon
                use(xlink:href='images/sprite.svg#icon-filter', x='', y='')
            .list-asp-utilities-total
              | #{total}
        .information-th-con.h
          | Nombre
          span.information-th Correo
          span.information-th Telefono
          span.information-th Edad
          span.information-th Sexo
          span.information-th Especialidad
        h1(style='font-size:6rem;') Tabla 1
        .information-table-list
        each aspirante in aspirantes
          .information-tr
            .information-td-data
              .information-td-data-photo
                img.data-user-photo(src='/'+aspirante.ruta_imga, alt=' ')
              .information-td-data-name=aspirante.nom_asp
            .information-td-email-container
              .information-td-email=aspirante.email_asp
            .information-td-phone-container
              .information-td-phone
            .information-td-sex-container
              .information-td-sex=aspirante.sex_asp
            .information-td-speciality-container
                .information-td-tag 
                  a(href="/aspirante/"+aspirante.id_asp)  Ver perfil.
        h1(style='font-size:6rem; ') Tabla 2
        .information-table-block()
          .information-block 1
          .information-block 2
          .information-block 3
          .information-block 4
          .information-block 5
          .information-block 6
          .information-block 7
          .information-block 8
          .information-block 9
          .information-block 10
          .information-block 11
