doctype html
html(lang='en')
  head
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(type='text/javascript', src='javascripts/validaciones.js')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
<<<<<<< HEAD
    link(rel='stylesheet', href='stylesheets/styles.css')
    script(src='javascripts/empresa.js')
=======
    link(rel='stylesheet', href='stylesheets/styles.css')
>>>>>>> 6d6c6637c39e3395012eac7f8a12740e38c8b229
    title Employ.me
  body
    #modal-edit.modal-background
      .modal.modal-edit
        svg.modal-exit.card-exit--employee
          use(xlink:href='images/sprite.svg#icon-close')
        .left-divided
          img.information-photo(src='images/employee.jpg')
          input#change-photo(type='file')
          label.information-change-photo(for='change-photo')
            svg.information-photo-icon
              use(xlink:href='images/sprite.svg#icon-camera-retro')
          a.btn.form-btn.form-btn-dark(href='') Guardar
        .right-divided
          input.form-input.form-input-light(type='text', placeholder='Correo Electronico...', onkeypress='return soloCorreo(event)')
          input.form-input.form-input-light(type='text', placeholder='Telefono....', onkeypress='return soloNum(event)', maxlength='10')
          input.form-input.form-input-light(type='text', placeholder='Contraseña...', onkeypress='return soloContra(event)', maxlength='25')
          input.form-input.form-input-light(type='text', placeholder='Confirmar Contraseña...')
    #modal-youtube.modal-background
      .modal
        svg.modal-exit.card-exit--employee
          use(xlink:href='images/sprite.svg#icon-close')
        svg.modal-youtube-icon
          use(xlink:href='images/sprite.svg#icon-youtube-play')
    header.profile-header
      img.logo(src='images/logo.png', alt='Logo')
      form.search(action='')
        input.search-input(type='text', placeholder='Buscar')
        button.search-btn
          svg.search-icon
            use(xlink:href='images/sprite.svg#icon-search')
      nav.header-navigation
        .header-navigation-icon-box
          svg.header-navigation-icon
            use(xlink:href='images/sprite.svg#icon-comments')
          span.header-navigation-notification
            | 
        .header-navigation-icon-box
          svg.header-navigation-icon
            use(xlink:href='images/sprite.svg#icon-sign-in')
    .container
      nav.sidebar
        ul.sidebar-navigation
          br
          br
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/emp-profile')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-user')
              span.sidebar-navigation-description Perfil
          br
          br
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/aspirantes')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-heart')
              span.sidebar-navigation-description Aspirantes
          br
          br
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/cerrarsesion')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-sign-in')
              span.sidebar-navigation-description Salir
      main.portfolio
        .portfolio-information-users
          .information-photo-container
            a.information-photo-redirect(href='#modal-edit')
            img.information-photo(src='images/user2.png', alt='')
          h1.user-name
            | #{nombre}
          #modal1.modal.modal-edit
            h3.modal-heading
              svg.information-data-icon
                use(xlink:href='images/sprite.svg#icon-pencil ')
              |  Completar / editar Informacion
            .modal-information
              hr
              .edit-info-block-
                span.edit-info-span Correo Electronico:
                input#correo.edit-info-input(type='text',required="required",placeholder="",onkeypress="return soloCorreo(event)")
                span.edit-info-span Sitio web:
                input#sitio.edit-info-input(type='text',required="required",onkeypress="return soloCorreo(event)")
                span.edit-info-span Contraseña:
                input#contra.edit-info-input(type='text',required="required",placeholder="Opcional",onkeypress="return soloCorreo(event)")
                span.edit-info-span Confirmar contraseña:
                input#contrac.edit-info-input(type='text',required="required",placeholder="Opcional",onkeypress="return soloCorreo(event)")
            .modal-btn-container
              a#guardar.btn-blue.btn Guardar
              a#cerrar.btn-blue.btn Cerrar 
        .specialty-container
          .specialty-information
          .specialty-information
          .specialty-information
        .portfolio-information-self
          .information-data-field
            svg.information-data-icon
              use(xlink:href='')
            span 
          .information-data-field
            svg.information-data-icon
              use(xlink:href='')
            span 
          .information-data-field
            svg.information-data-icon
              use(xlink:href='')
            span 
            span
              
          .information-data-field
          .information-data-field
          
          a#complete.btn.btn-blue Completar / editar perfil.
        .specialty-container
          .specialty-information
          .specialty-information
          .specialty-information  
        .portfolio-curriculum
          .flex-col-1-of-2--row
            .enterprise-text(style:width='')
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam delectus dolores natus, veniam repellendus temporibus explicabo voluptatibus et fuga tempore. Provident adipisci magni aut odio iusto facilis fugit, culpa debitis!
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam delectus dolores natus, veniam repellendus temporibus explicabo voluptatibus et fuga tempore. Provident adipisci magni aut odio iusto facilis fugit, culpa debitis!
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam delectus dolores natus, veniam repellendus temporibus explicabo voluptatibus et fuga tempore. Provident adipisci magni aut odio iusto facilis fugit, culpa debitis!
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam delectus dolores natus, veniam repellendus temporibus explicabo voluptatibus et fuga tempore. Provident adipisci magni aut odio iusto facilis fugit, culpa debitis!
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam delectus dolores natus, veniam repellendus temporibus explicabo voluptatibus et fuga tempore. Provident adipisci magni aut odio iusto facilis fugit, culpa debitis!
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam delectus dolores natus, veniam repellendus temporibus explicabo voluptatibus et fuga tempore. Provident adipisci magni aut odio iusto facilis fugit, culpa debitis!
          .flex-col-1-of-2--col
            div
              .enterprise-info
                .infop
                  center Información
                .information-data-field
                  svg.information-data-icon
                    use(xlink:href='images/sprite.svg#icon-mobile')
                  span 55-3465-2989
                .information-data-field
                  svg.information-data-icon
                    use(xlink:href='images/sprite.svg#icon-mobile')
                  span 55-3465-2989
                .information-data-field
                  svg.information-data-icon
                    use(xlink:href='images/sprite.svg#icon-envelope')
                  span ejemplo@ejmplo.com
                .information-data-field
                  svg.information-data-icon
                    use(xlink:href='images/sprite.svg#icon-envelope')
                  span dirección:
                .information-data-field
                  svg.information-data-icon
                    use(xlink:href='images/sprite.svg#icon-envelope')
                  span Página web: :
                a.information-edit-btn(href='#modal-edit')
                  svg.information-data-icon
                    use(xlink:href='images/sprite.svg#icon-pencil ')
                  span Editar
            