doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='stylesheets/icon-font-arrow.css')
    link(rel='stylesheet', href='stylesheets/styles.css')
    link(href='https://fonts.googleapis.com/css?family=Mukta+Malar:200,300,400,500,600,700,800|Noto+Serif:400,700|Roboto:100,300,400,500,700,900', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,900', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='javascripts/animacion.js')
  body
    main
      header.header
        img.logo(src='', alt='')
        .text-box
          h1.heading
            span.heading-name.u-color-white
              | Employ
              span.point-color .
              | me
            span.heading-main.u-color-white
              | Encuentra tu trabajo ideal.
          a.btn.btn-arrow.icon-arrows-down-double(href='com-listasp.html')
      section.section-features
        h2.heading-secondary.u-color-black ¿Que ofrecemos?
        .row
          .col-1-of-3-m
            .feature-container.secondary-feature
              i.icon-font.icon-arrows-check
              h3.heading-tertiary.u-color-black Sube tu curriculum
              p.feature-text
                | Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi, fermentum malesuada arcu praesent interdum ornare mattis eleifend, facilisis convallis rhoncus aenean urna vitae euismod.
          .col-1-of-3-m
            .feature-container.principal-feature
              i.icon-font.icon-arrows-check
              h3.heading-tertiary.u-color-black Personal Calificado
              p.feature-text
                | Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi, fermentum malesuada arcu praesent interdum ornare mattis eleifend, facilisis convallis rhoncus aenean urna vitae euismod.
          .col-1-of-3-m
            .feature-container.tertiary-feature
              i.icon-font.icon-arrows-check
              h3.heading-tertiary.u-color-black Informacion Asegurada
              p.feature-text
                | Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi, fermentum malesuada arcu praesent interdum ornare mattis eleifend, facilisis convallis rhoncus aenean urna vitae euismod.
        .row
          .col-1-of-3-m
            .feature-container.secondary-feature
              i.icon-font.icon-arrows-check
              h3.heading-tertiary.u-color-black Compatibilidad con GitHub
              p.feature-text
                | Como aspirante ahora puedes anexar a tu perfil tus proyectos mas relevantes enlazando tu cuenta de GitHub para demostrar tus conocimientos.
          .col-1-of-3-m
            .feature-container.principal-feature
              i.icon-font.icon-arrows-check
              h3.heading-tertiary.u-color-black Video solicitud
              p.feature-text
                | Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi, fermentum malesuada arcu praesent interdum ornare mattis eleifend, facilisis convallis rhoncus aenean urna vitae euismod.
          .col-1-of-3-m
            .feature-container.tertiary-feature
              i.icon-font.icon-arrows-check
              h3.heading-tertiary.u-color-black Informacion en tiempo real
              p.feature-text
                | Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi, fermentum malesuada arcu praesent interdum ornare mattis eleifend, facilisis convallis rhoncus aenean urna vitae euismod.
      section.section-start
        h2.heading-secondary.u-color-black ¿Que eres?
        .row
          .col-1-of-2-m
            .card
              .card-side.card-side--front.card-side--front-company
                h3.heading-rol Empresa
              .card-side.card-side--back
                form.start-sign-up(action='/regemp' method='post')
                  input(type='text', name='nombre_e',  placeholder='Nombre de la Empresa')
                  input(type='text', name='usuario_e',  placeholder='Usuario')
                  input(type='password', name='password_e', placeholder='Contraseña')
                  input(type='password', name='cpassword_e', placeholder='Confirmar Contraseña')
                  input(type='text', name='email_e', placeholder='Email')
                  input(type='submit', value='Finalizar')
                a.btn(href='') Inicia Sesion
                form.start-sign-in(action='/loginemp',method='post')
                  input(type='text', name='usu_e',placeholder='Nombre de usuario')
                  input(type='password', name='pass_e',placeholder='Contraseña')
                  input(type='submit', value='Iniciar Sesion')
                input(type="button",class="btn", value="Regresar")
          .col-1-of-2-m
            .start-employee.start-rol
              h3.heading-tertiary.heading-rol Aspirante
              form.start-sign-up(action='/regasp' method='post')
                input(type='text', name='nombre',  placeholder='Nombre', required)
                input(type='text', name='apt',  placeholder='Apellido Paterno', required)
                input(type='text', name='apm',  placeholder='Apellidos Materno', required)
                input(type='email', name='email',  placeholder='Email', required)
                input(type='text', name='usuario',  placeholder='Usuario', required)
                input(type='password', name='password',  placeholder='Contraseña', required)
                input(type='password', name='confpass',  placeholder='Confirmar Contraseña', required)
                input(type='date', name='fn',  placeholder='Fecha de Nacimiento', required)
                input(type='text', name='sexo',  placeholder='Sexo', required)
                input(type='submit', value='Finalizar')
            a.btn(href='') Inicia Sesion
            form.start-sign-in(action='/loginasp' method='post')
              input(type='text', name='usu',  placeholder='Usuario o Correo', required)
              input(type='password', name='contra',  placeholder='Contraseña', required)
              input(type='submit', value='Iniciar Sesion')
    footer.footer