doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='javascripts/boton.js')
    link(rel='stylesheet', href='stylesheets/styles.css')
    title Employ.me
  body
    header.profile-header
      img.logo(src='images/logo.png', alt='Logo')
      form.search(action='')
        input.search-input(type='text', placeholder='Buscar')
        button.search-btn
          svg.search-icon
            use(xlink:href='images/sprite.svg#icon-search')
      nav.header-navigation
        .header-navigation-icon-box
          svg.header-navigation-icon
            use(xlink:href='images/sprite.svg#icon-comments')
          span.header-navigation-notification
        .header-navigation-icon-box
          svg.header-navigation-icon
            use(xlink:href='images/sprite.svg#icon-sign-in')
    .container
      nav.sidebar
        ul.sidebar-navigation
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/perfilasp')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-user')
              span.sidebar-navigation-description Perfil
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/asp-interested')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-heart')
              span.sidebar-navigation-description Interesados
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/asp-cv')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-address-card')
              span.sidebar-navigation-description Curriculum
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/especialidad')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-bookmark')
              span.sidebar-navigation-description Especialidad
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/cerrarsesion')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-sign-in')
              span.sidebar-navigation-description Salir
      main.about-you
        .progress-bar-container
          #progress-bar.progress-bar
            span 0%
        .about-you-sections
          section.about-you-studies
            h3
              | Estudios
              #modal.about-you-modal
                h2.heading-tertiary Gradro Academico
                input#input.about-you-modal-input(type='text', name='', placeholder='Ingresar....')
                .about-you-btn-container
                  a.btn.btn-blue Cerrar
                  a#guardar.btn.btn-blue Guardar
                  a.btn.btn-blue Eliminar
            .about-you-container
              a.test
                #but.about-you-feature.selected-feature
                  .about-you-feature-information
                    p.about-you-add-feature-information-text Agregar
            #contenedor
            br
            br
            br  
            .about-you-btn-container
              a.btn.btn-blue Siguiente
              a#save.btn.btn-blue Guardar
              a.btn.btn-blue Anterior
          section.about-you-experience
            button.about-you-add-feature.selected-feature
              svg.about-you-add-feature-icon
                use(xlink:href='images/sprite.svg#icon-plus ')
            .about-you-feature.selected-feature
          section.about-you-references
            button.about-you-add-feature.selected-feature
              svg.about-you-add-feature-icon
                use(xlink:href='images/sprite.svg#icon-plus')
            .about-you-feature.selected-feature
          section.about-you-extra-comments
            button.about-you-add-feature.selected-feature
              svg.about-you-add-feature-icon
                use(xlink:href='images/sprite.svg#icon-plus')
            .about-you-feature.selected-feature
