@keyframes button {}*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Noto Serif", sans-serif;
  color: #222831;
  font-size: 1.6rem;
  box-sizing: border-box; }

.icon-font {
  display: inline-block;
  color: #2c3e50;
  font-size: 8rem;
  margin-bottom: 1rem; }

.heading {
  text-transform: uppercase;
  justify-content: center;
  margin-bottom: 20rem; }
  .heading-name {
    color: #2c3e50;
    display: block;
    justify-content: center;
    letter-spacing: 3.2rem;
    margin-bottom: 10rem;
    font-weight: 900; }
    .heading-name .point-color {
      color: red;
      font-size: 8rem; }
  .heading-main {
    font-size: 1.6rem;
    font-weight: 900;
    letter-spacing: .8rem;
    color: #2c3e50; }
  .heading-secondary {
    text-transform: uppercase;
    font-family: "Lato";
    letter-spacing: 3rem;
    margin-bottom: 3rem;
    transition: all .2s;
    color: transparent; }
    .heading-secondary:hover {
      transform: scale(1.4) skew(-23deg); }
  .heading-tertiary {
    text-transform: uppercase;
    font-family: "Lato";
    margin-bottom: 3rem; }
  .heading-rol {
    position: absolute;
    text-shadow: -0.1rem 0 #dfdbdb, 0 0.1rem #dfdbdb, 0.1rem 0 #dfdbdb, 0 -0.1rem #dfdbdb;
    top: 40%;
    left: 50%;
    font-size: 4rem;
    transition: all .2s;
    letter-spacing: 1rem;
    transform: rotate(-90deg) translate(-50%, 30%); }
  .heading-portfolio-90deg {
    transform: rotate(-90deg) translateY(-10rem);
    width: 25rem;
    letter-spacing: .6rem; }

.u-color-white {
  color: #eee; }

.u-color-black {
  background-image: linear-gradient(to right, #2c3e50, rgba(3, 100, 124, 0.6));
  background-clip: text;
  -webkit-background-clip: text; }

.u-maegin-zero {
  margin: 0; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  transition: all .4s;
  position: relative;
  display: inline-block; }

.btn-blue {
  padding: 1.5rem;
  background-color: #2c3e50;
  color: #fff;
  border-radius: 5px; }

.btn:active {
  transform: translateY(-0.1rem);
  text-decoration: none; }

.btn-arrow {
  display: inline-block;
  color: #eee;
  font-size: 5rem;
  font-family: "linea-arrows-10"; }
  .btn-arrow:hover {
    transform: translateY(-0.3rem); }
    .btn-arrow:hover::after {
      transform: translateY(-8rem);
      opacity: 0; }
  .btn-arrow::after {
    font-family: "linea-arrows-10";
    content: "\e01a";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .2s; }

.test {
  height: 20rem;
  width: 20rem; }

.date-separator {
  width: 100%;
  height: 3rem;
  background-color: #771144;
  color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  margin-top: 3rem; }
  .date-separator-icon {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
    margin-right: 1rem; }

.github {
  background-color: #f2f4fb;
  height: 50%;
  padding: 3rem;
  margin-bottom: 3.5rem;
  overflow-y: scroll;
  border-radius: 5px 20px; }
  .github-element {
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    position: relative;
    color: #222831; }
    .github-element:not(:last-child) {
      margin-bottom: .6rem; }
    .github-element:hover::after {
      content: "Ver en GitHub";
      color: #fff;
      height: 100%;
      background-color: rgba(34, 40, 49, 0.9);
      position: absolute;
      right: 0;
      transform: translateY(-1rem);
      border-radius: 0 10px 10px 0;
      padding: 1rem;
      width: 16rem;
      text-align: right;
      clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%); }
  .github-link {
    display: none; }

.curriculum {
  position: relative;
  display: flex;
  background-color: #f2f4fb;
  flex-grow: 1;
  height: 80rem;
  padding: 3rem;
  border-radius: 20px 5px; }
  .curriculum-required {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    flex-direction: column;
    color: #393e46;
    font-weight: 700; }
    .curriculum-required:hover {
      color: #63686e; }
    .curriculum-required-link {
      display: block; }
    .curriculum-required-icon {
      height: 15rem;
      width: 15rem;
      fill: currentColor;
      margin-bottom: 5rem; }

.feature-box {
  background-size: cover;
  text-align: center;
  padding: 10rem;
  border-radius: 5px; }

.feature-container {
  padding: 0 3rem;
  background-image: transparent; }

.feature-text {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: "Lato";
  line-height: 2.2rem; }

.header-navigation {
  display: flex;
  align-self: stretch;
  align-items: center; }
  .header-navigation-icon-box {
    padding: 0 1.5rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative; }
    .header-navigation-icon-box:last-child {
      margin-right: 2rem; }
    .header-navigation-icon-box:hover {
      background-color: #ddd; }
  .header-navigation-icon {
    height: 2.5rem;
    width: 2.5rem; }
  .header-navigation-notification {
    border-radius: 100px;
    font-size: 1rem;
    font-weight: 700;
    background-color: red;
    height: 1.5rem;
    width: 1.5rem;
    color: #eee;
    position: absolute;
    top: 1.8rem;
    right: 1.5rem;
    text-align: center; }

.information-th:nth-child(1) {
  flex-basis: 30%; }

.information-th:nth-child(2) {
  flex-basis: 20%; }

.information-th:nth-child(3) {
  flex-basis: 15%; }

.information-th:nth-child(4) {
  flex-basis: 15%; }

.information-th:nth-child(5) {
  flex-basis: 15%; }

.information-th:last-child {
  margin-right: 3rem;
  flex-basis: 20%; }

.information-th-container {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  padding: 0 2rem; }

.information-tr {
  padding: 2rem;
  border-radius: 6px;
  display: flex;
  text-decoration: none;
  color: #222831;
  justify-content: space-between; }
  .information-tr:nth-child(odd) {
    background-color: #fff; }
  .information-tr:nth-child(even) {
    background-color: #f2f4fb; }
  .information-tr:not(:last-child) {
    margin-bottom: 1rem; }

.information-td-data, .information-td-age-container, .information-td-email-container, .information-td-sex-container, .information-td-phone-container, .information-td-speciality-container, .information-td-location-container {
  align-items: center;
  display: flex; }

.information-td-data {
  flex-basis: 25%; }
  .information-td-data-name {
    margin-left: 2rem; }

.information-td-email-container {
  flex-basis: 15%; }

.information-td-phone-container {
  flex-basis: 15%; }

.information-block {
  padding: 5rem;
  background-color: #771144;
  margin: 2rem .8rem;
  height: 20rem;
  flex-basis: 30%; }
  .information-block:nth-child(odd) {
    background-color: #fff; }
  .information-block:nth-child(even) {
    background-color: #f2f4fb; }

.information-table-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.logo {
  height: 5.5rem;
  width: 5.5rem;
  margin-left: 2rem;
  fill: #fff; }

.information-map {
  height: 22.5rem;
  width: 40rem;
  transform: translateX(-2rem); }

.map {
  width: 100%;
  height: 100%; }

.map-edit {
  height: 40rem;
  margin-right: 5rem; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  background-color: #fff;
  border-radius: 10px;
  display: none;
  z-index: 2000; }
  .modal::before {
    content: "";
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    display: none; }
  .modal-heading {
    background-color: #222831;
    padding: 2rem;
    border-radius: 10px 10px 0 0;
    color: #fff;
    text-transform: uppercase; }
  .modal-information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 100%;
    padding: 2rem; }
  .modal-input {
    width: 20rem;
    padding: 1rem 3rem;
    background-color: #fff; }
    .modal-input:not(:last-child) {
      margin-right: 2rem; }
  .modal-btn-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 1.5rem;
    padding: 0 5rem; }

.edit-info-block {
  display: flex;
  flex-direction: column;
  align-content: flex-end; }

.edit-info-span, .edit-info-input {
  display: block;
  margin-bottom: 2rem;
  margin-left: 5rem; }

#modal1:target {
  display: block; }

.portfolio-information {
  display: flex; }
  .portfolio-information-users {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: url(../images/wall10.jpg);
    background-size: cover; }
  .portfolio-information-self {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 7rem;
    padding: 0 3rem;
    position: relative; }
    .portfolio-information-self:hover .information-edit-btn {
      display: flex; }

.portfolio-curriculum {
  background-image: linear-gradient(to right, #e0eafc, #cfdef3);
  display: flex;
  padding: 3rem;
  position: relative; }

.information-photo-container {
  position: relative;
  flex: 0 0 25%;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  padding: 2rem; }

.information-photo {
  width: 23rem;
  height: 23rem;
  border-radius: 2px;
  border: 8px solid #fff; }
  .information-photo-hidden {
    display: none; }
  .information-photo-container:hover .information-photo-pick {
    visibility: visible; }
  .information-photo-pick {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    cursor: pointer; }
  .information-photo-icon {
    width: 8rem;
    height: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .information-photo-select {
    padding: 2rem;
    background-color: #000;
    letter-spacing: .4rem;
    color: #fff;
    font-size: 1.6rem;
    display: block;
    position: absolute;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    width: 100%; }
    .information-photo-select-hidden {
      display: none; }

.information-data {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center; }
  .information-data-field {
    padding: .5rem 1rem;
    flex: 0 0 17%;
    transform: translateY(1.5rem);
    display: flex;
    align-content: center;
    color: #63686e; }
  .information-data-specialty {
    display: flex;
    align-items: center;
    flex: 0 0 30%; }
  .information-data-icon {
    width: 2.3rem;
    height: 2.3rem;
    fill: currentColor;
    margin-right: 2rem; }

.information-edit-btn {
  padding: .5rem 1rem;
  background-color: #45b7b8;
  position: absolute;
  border-radius: 5px;
  flex: 0 0 15%;
  margin-bottom: 3rem;
  text-decoration: none;
  transform: translateY(1.5rem);
  display: flex;
  align-items: center;
  color: #fff;
  right: 2rem;
  display: none; }

.progress-bar {
  background-color: red;
  text-align: center;
  border-radius: 20px; }
  .progress-bar:before {
    background-color: blue;
    content: ""; }

.search {
  flex: 0 0 35%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search-input {
    font-family: inherit;
    font-size: inherit;
    padding: .5rem 2rem;
    border: none;
    border-radius: 100px;
    width: 95%;
    transition: all .3s;
    margin-right: -4rem;
    background-color: #f7f7f7;
    color: #c6c6c6; }
    .search-input:focus {
      outline: none;
      width: 100%; }
    .search-input::-webkit-input-placeholder {
      color: #cacaca; }
  .search-btn {
    border: none;
    background-color: #f7f7f7;
    margin-right: -8rem;
    fill: #cacaca; }
    .search-btn:focus {
      outline: none; }
    .search-btn:active {
      transform: translateY(3px); }
  .search-icon {
    height: 2rem;
    width: 2rem; }

.sidebar-navigation {
  font-size: 1.2rem;
  list-style: none;
  margin-top: 1rem;
  margin-right: 1rem;
  position: relative; }
  .sidebar-navigation-item {
    padding: 2rem;
    transition: font-size .2s; }
  .sidebar-navigation-link {
    display: flex;
    align-content: center; }
    .sidebar-navigation-link:link, .sidebar-navigation-link:visited {
      color: #eee;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      padding: 2rem 0; }
  .sidebar-navigation-icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: currentColor; }
  .sidebar-navigation-description {
    margin-left: 4rem; }

.specialty-percent {
  height: 10rem;
  width: 10rem;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 1.2rem #2980b9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .specialty-percent:not(:last-child) {
    margin-right: 7rem; }

.specialty-name, .specialty-number {
  font-size: 1.7rem; }

.digital-potfolio {
  background-color: #f2f4fb;
  height: 50%; }

.row {
  max-width: 190rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
  .row [class^="col-"] {
    float: left; }
  .row [class$="-m"]:not(:last-child) {
    margin-right: 2rem; }
  .row [class$="-z"] {
    margin: 0; }
  .row .col-1-of-2-m {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3-m {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-1-of-4-m {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-3-m {
    width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-2-of-4-m {
    width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-of-4-m {
    width: calc(3 * ((100% - 3 * 2rem) / 4) + 2* 2rem); }
  .row .col-1-of-2-z {
    width: calc(100% / 2); }
  .row .col-1-of-3-z {
    width: calc(100% / 3); }
  .row .col-1-of-4-z {
    width: calc(100% / 4); }
  .row .col-2-of-3-z {
    width: calc(2 * (100% / 3)); }
  .row .col-2-of-4-z {
    width: calc(2 * (100% / 4)); }
  .row .col-3-of-4-z {
    width: calc(3 * (100% / 4)); }
  .row-flex {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center; }

.flex-col-1-of-2--col,
.flex-col-1-of-2--row {
  display: flex;
  flex: 0 1 50%; }

.flex-col-1-of-2--col {
  flex-direction: column; }

.flex-col-1-of-2--row {
  margin-right: 3rem; }

.text-box {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); }

.profile-header {
  background-color: #fff;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.container {
  display: flex; }

.sidebar {
  background-color: #222831;
  flex: 0 0 13%; }

.portfolio {
  flex-grow: 1; }

.test-curriculum {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.about-you {
  display: flex;
  background-image: linear-gradient(to right, #e0eafc, #cfdef3);
  flex-grow: 1;
  flex-direction: column;
  padding: 3rem;
  flex-wrap: wrap; }
  .about-you-studies {
    width: 100%; }
  .about-you-container {
    display: flex;
    flex-direction: row; }
  .about-you-btn-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 1.5rem; }
  .about-you-experience, .about-you-references, .about-you-extra-comments {
    display: none; }
  .about-you-sections {
    display: flex;
    flex-direction: row; }
  .about-you-add-feature {
    order: 5; }
    .about-you-add-feature-icon {
      width: 20rem;
      height: 20rem;
      fill: #fff; }
  .about-you-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    background-color: #dfdbdb;
    border-radius: 30px;
    padding: 4rem;
    display: none;
    z-index: 30; }
    .about-you-modal-input {
      font-family: inherit;
      font-size: inherit;
      padding: .5rem 2rem;
      border: none;
      border-radius: 100px;
      width: 95%;
      transition: all .3s;
      margin-right: -4rem;
      background-color: #f7f7f7; }
      .about-you-modal-input:focus {
        outline: none;
        width: 100%;
        color: #dfdbdb; }
    .about-you-modal-container::before {
      content: "";
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.4);
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
      z-index: 25; }
  .about-you-feature-check {
    height: 100%;
    position: relative;
    width: 100%;
    background-color: #f30e5c;
    z-index: 20;
    -webkit-clip-path: polygon(55% 0, 100% 0, 100% 43%);
    clip-path: polygon(55% 0, 100% 0, 100% 43%);
    border-radius: 15px; }
    .about-you-feature-check-icon {
      fill: #fff;
      width: 3rem;
      height: 3rem;
      position: absolute;
      top: 1.5rem;
      right: 1.5rem; }
  .about-you-feature-information {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2rem; }

.selected-feature {
  border-radius: 30px;
  background-color: #45b7b8;
  border: 1.2rem solid #fff;
  height: 25rem;
  width: 25rem;
  position: relative;
  cursor: pointer; }
  .selected-feature:not(:first-child) {
    margin-left: 8rem; }
  .selected-feature:focus {
    outline: none; }

#modal:target:before {
  display: block; }

#modal:target .about-you-modal {
  display: block; }

.header {
  height: 100vh;
  background-image: radial-gradient(ellipse, rgba(44, 62, 80, 0.85), rgba(44, 62, 80, 0.9), #2c3e50), url(../images/wall3.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }

.section-features, .section-start {
  text-align: center;
  padding: 5rem 0;
  margin: 0 3rem;
  position: relative;
  background-color: #f7f7f7;
  justify-content: center; }

.start-sign-up, .start-sign-in {
  display: block; }
  .form-textarea {
    resize: none;
    margin-bottom: 2.5rem;
    width: 100%;
    height: 23rem;
    border-radius: 5px;
    background-color: #f7f7f7;
    font-size: 2rem;
    padding: 1.5rem;
    line-height: 3rem; }
    .form-textarea:focus {
      outline: none; }

      .form-btn {
        width: 40rem;
        padding: 3rem 0;
        font-size: 2.5rem;
        border-radius: 2px;
        text-align: center; }
        .form-btn-dark {
          border: 2px solid #393e46;
          color: #393e46; }
        .form-btn-light {
          border: 2px solid #fff;
          color: #fff; }

          .btn:link, .btn:visited {
            text-transform: uppercase;
            text-decoration: none;
            transition: all .4s;
            position: relative;
            display: inline-block; }
          
          .btn:active {
            transform: translateY(-0.1rem);
            text-decoration: none; }

            .form-input {
              max-width: 40rem;
              font-size: 2.3rem;
              background-color: transparent;
              border: none;
              margin: 2.5rem 0; }
              .form-input-dark {
                border-bottom: 2px solid #222831;
                color: #222831; }
                .company-radio {
                  display: none; }
                  .btn-form {
                    color: #fff;
                    border-radius: 20px;
                    padding: 2rem 3.5rem;
                    display: inline-block;
                    border: 6px solid #fff;
                    margin-top: 4rem; }
                    .btn-form-active {
                      color: #393e46;
                      background-color: #fff; }
                      
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  transition: all .4s;
  position: relative;
  display: inline-block; }

.btn:active {
  transform: translateY(-0.1rem);
  text-decoration: none; }
  .index-form {
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    .index-form-1 {
      display: flex; }
    .index-form-2 {
      display: none; }

  .footer {
    background-color: #222831;
    color: #fff;
    padding: 3rem;
    font-size: 4.75rem;
    display: flex;
    justify-content: space-between; }
    .footer-heading {
      letter-spacing: 1rem;
      flex: 0 0 30%; }
      .footer-heading .point-color {
        color: red;
        font-size: 8rem; }
    .footer-section {
      display: flex;
      justify-content: space-between;
      font-weight: 900;
      flex-grow: 1; }
    .footer-element {
      list-style: none; }
      .footer-element-title {
        color: #c6c6c6;
        font-size: 2.5rem; }
    .footer-list {
      list-style: none;
      margin-top: 2rem;
      font-size: 2rem; }
      .footer-list-element:not(:last-child) {
        margin-bottom: 2rem; }

                .form-heading {
                  margin: 2.5rem 0;
                  text-transform: uppercase;
                  font-size: 2rem; }

                  .card {
                    perspective: 200rem;
                    -webkit-perspective: 200rem;
                    position: relative;
                    height: 95vh; }
                    .card-side {
                      height: 95vh;
                      transition: all 1s;
                      background-size: cover;
                      background-position: center;
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      backface-visibility: hidden;
                      border-radius: 8px; }
                      .card-side--front:hover {
                        animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) 2s;
                        animation-iteration-count: 2, infinite; }
                      .card-side--front-company {
                        background-image: url(../images/company2.jpg); }
                      .card-side--front-employee {
                        background-image: url(../images/employee2.jpg); }
                      .card-side--back {
                        background-image: radial-gradient(ellipse, rgba(44, 62, 80, 0.85), rgba(44, 62, 80, 0.9), #2c3e50);
                        transform: rotateY(180deg);
                        padding: 1rem; }
                    .card-exit {
                      width: 4.25rem;
                      height: 4.25rem;
                      fill: #fff;
                      position: absolute;
                      top: 2rem;
                      right: 2rem;
                      cursor: pointer; }


                      .form-input {
                        max-width: 40rem;
                        font-size: 2.3rem;
                        background-color: transparent;
                        border: none;
                        margin: 1.20rem 0; }
                        .form-input-dark {
                          border-bottom: 2px solid #222831;
                          color: #222831; }
                        .form-input-light {
                          border-bottom: 2px solid #fff;
                          color: #fff; }
                        .form-input:first-child {
                          margin-top: 3rem; }
                        .form-input:focus {
                          outline: none; }


.start-employee {
  background-image: url(../images/employee2.jpg); }

.start-company {
  background-image: url(../images/company2.jpg); }

.start-employee, .start-company {
  background-size: cover;
  background-position: center;
  height: 90vh;
  position: relative; }

.start-radio-employee:checked .start-employee:hover {
  transform: rotate(-90deg) translate(-50%, 30%) scale(0); }

.list-asp {
  display: flex;
  background-image: linear-gradient(to right, #e0eafc, #cfdef3);
  flex-grow: 1;
  flex-direction: column;
  padding: 3rem; }
  .list-asp-utilities {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: #393e46; }
    .list-asp-utilities-container {
      display: flex;
      align-items: center;
      position: relative; }
    .list-asp-utilities-order {
      display: flex;
      align-items: center; }
    .list-asp-utilities-total {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      margin-left: 4rem; }
      .list-asp-utilities-total::before {
        content: "Total:";
        transform: translateX(-1rem); }
    .list-asp-utilities-icon {
      width: 2rem;
      height: 2rem;
      fill: currentColor; }
      .list-asp-utilities-icon-container {
        margin-left: 3rem;
        padding: 1.5rem;
        border: 3px solid #393e46;
        background-color: #fff;
        border-radius: 4px; }
        .list-asp-utilities-icon-container:hover {
          background-color: #f9f7f7; }
      .list-asp-utilities-icon-font {
        width: 1.2rem;
        height: 1.2rem;
        fill: currentColor; }
  .list-asp-order {
    list-style: none;
    display: none;
    margin-top: .5rem;
    border: 3px solid #393e46;
    position: absolute;
    padding: 1.5rem;
    background-color: #fff;
    top: 6rem;
    left: 3rem; }
    .list-asp-order-element {
      padding: .5rem; }
    .list-asp-order-link:link, .list-asp-order-link:active, .list-asp-order-link:visited {
      text-decoration: none;
      color: #222831; }

.data-user-photo {
  width: 7rem;
  height: 7rem;
  border-radius: 50%; }

.mistake {
  background-color: #fff;
  flex-grow: 1;
  height: 100%;
  border-radius: 6px;
  box-shadow: 0 1rem 1.5rem rgba(34, 40, 49, 0.4); }
  .mistake-container {
    height: 100vh;
    background-image: linear-gradient(to right, #e0eafc, #cfdef3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem; }

.specialty {
  display: flex;
  background-image: linear-gradient(to right, #e0eafc, #cfdef3);
  flex-grow: 1;
  flex-direction: column;
  padding: 3rem; }


  .enterprise-info{
    background-color: #f2f4fb;
    height: 180px;
  
    margin-bottom: 3.5rem;
    overflow-y: scroll;
    border-radius: 5px 20px;
      }
  
      .enterprise-text{
          position: relative;
          display: flex;
          background-color: #f2f4fb;
          flex-grow: 1;
          height: 620px;
          padding: 3rem;
          border-radius: 20px 5px; 
      }
  
      .infop{
        color: darkmagenta;
        font-size: 30px;
      }

.category {
  display: flex;
  padding: 3rem;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: normal; }
  .category:not(:last-child) {
    margin-bottom: 4rem; }
  .category-name {
    margin-bottom: 2rem;
    margin-left: 5rem; }
  .category-tools-container {
    display: flex;
    flex-direction: row; }
    .category-tools-container:not(:last-child) {
      margin-right: 1rem; }

.tool {
  background-color: #fff;
  height: 30rem;
  width: 40rem;
  padding: 5rem;
  color: #2c3e50;
  transition: all .4s;
  cursor: pointer; }
  .tool:hover {
    transform: scale(1.05); }
  .tool:not(:last-child) {
    margin-right: 2.5rem; }
  .tool-name {
    font-size: 1.6; }
  .tool-text {
    margin: 3rem 0;
    font-size: 1.4rem;
    line-height: 2.7rem;
    height: 100%; }
