.curriculum {
    border: dotted;
    height: 100%;
    ;
    &-container {
        background-color: orangered;
        flex-grow: 1;
        height: 80rem;
        padding: 3rem;
    }
    &-required {
        display: flex;
        align-items: center;
        justify-items: center;
        height: 100%;
        &-link {
            display: flex;
            transform: rotate(-60deg) translateX(7rem);
            align-items: center;
            justify-content: center;
            letter-spacing: 1rem;
            &-text {}
            &:link,
            &:visited {
                text-decoration: none;
                text-transform: uppercase;
            }
        }
        &-icon {
            height: 5rem;
            width: 5rem;
            fill: currentColor;
        }
    }
}