.feature {
    &-box {
        background-size: cover;
        text-align: center;
        padding: 10rem;
        border-radius: 5px;
    }
    &-container {
        padding: 0 3rem;
        background-image: transparent;
    }
    &-text {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-family: "Lato";
        line-height: 2.2rem;
    }
}

// .principal-feature:hover {}
// .secondary-feature:hover {}
// .tertiary-feature:hover {}