.portfolio {
    &-information {
        background-color: cyan;
        display: flex;
    }
    &-curriculum {
        background-color: yellow;
        display: flex;
    }
}

.information {
    &-photo-container {
        background-color: white;
        flex: 0 0 33%;
        display: flex;
        align-items: center;
    }
    &-photo {
        height: 25rem;
        margin: auto;
    }
    &-data {
        background-color: green;
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        &-field {
            background-color: pink;
            padding: .5rem 1rem;
            flex: 0 0 40%;
            margin-bottom: 3rem;
            transform: translateY(1.5rem);
        }
    }
}