.search {
    flex: 0 0 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    &-input {
        font-family: inherit;
        font-size: inherit;
        padding: .5rem 2rem;
        border: none;
        border-radius: 100px;
        width: 95%;
        transition: all .3s;
        margin-right: -4rem;
        &:focus {
            outline: none;
            width: 100%;
        }
        &::-webkit-input-placeholder {
            color: #ddd;
        }
    }
    &-btn {
        border: none;
        background-color: white;
        margin-right: -8rem;
        fill: #ddd;
        &:focus {
            outline: none;
        }
        &:active {
            transform: translateY(3px);
        }
    }
    &-icon {
        height: 2rem;
        width: 2rem;
    }
}