.github,
.youtube {
    background-color: $color-white-3;
    height: 50%;
    padding: 3rem;
    margin-bottom: 3.5rem;
    overflow-y: scroll;
    border-radius: 5px 20px;
    &-element {
        padding: 1rem;
        background-color: $color-white-1;
        border-radius: 10px;
        display: block;
        text-decoration: none;
        position: relative;
        color: $color-black-1;
        &:not(:last-child) {
            margin-bottom: .6rem;
        }
        &:hover::after {
            content: "Ver en GitHub";
            color: $color-white-1;
            height: 100%;
            background-color: rgba($color-black-1, .9);
            position: absolute;
            right: 0;
            transform: translateY(-1rem);
            border-radius: 0 10px 10px 0;
            padding: 1rem;
            width: 16rem;
            text-align: right;
            clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
        }
    }
    &-link {
        display: none;
    }
}