.information-map {
    height: 100%;
    width: 100%;
}

.map {
    width: 100%;
    height: 100%;
}

.map-edit {
    height: 40rem;
    margin-right: 5rem;
}

.form-map {
    height: 35rem;
    margin: 2.5rem 0;
    width: 100%;
}