.profile-header {
    background-color: greenyellow;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
}

.sidebar {
    background-color: #4d4d4d;
    flex: 0 0 20%;
}

.portfolio {
    background-color: purple;
    flex-grow: 1;
}