.header {
    height: 100vh;
    background-image: radial-gradient(ellipse, rgba($color-primary, .85), rgba($color-primary, .9), rgba($color-primary, 1)), url(../img/wall3.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

.section {
    &-features,
    &-start {
        text-align: center;
        padding: 5rem 0;
        margin: 0 3rem;
        position: relative;
        background-color: $color-background-gray;
        justify-content: center;
    }
}

.start-sign-up,
.start-sign-in {
    display: none;
}

.start-employee {
    background-image: linear-gradient(to right bottom, rgba($color-employee-2, .1), rgba($color-employee-1, .1)), url(../img/employee2.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    position: relative;
}

.start-company {
    background-image: linear-gradient(to left bottom, rgba($color-company-2, .1), rgba($color-company-1, .1)), url(../img/company2.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    position: relative;
}