//Colores azules 
$color-blue-1: #2c3e50;
$color-blue-2: #45b7b8;
$color-blue-3: #03647c;
$color-blue-4: #2980b9;
$color-blue-5: #05cbfd;
$color-blue-6: #00adb5;
$color-blue-7: #005792;
$color-blue-8: #10316b;
//Colores rojos
$color-red-1: #f30e5c;
$color-red-2: #fc3a52;
$color-red-3: #fd0054;
//Colores morados
$color-purple-1: #7874f2;
$color-purple-2: #8e98f5;
$color-purple-3: #b1cbfa;
$color-purple-4: #C9D6FF;
//Colores grises
$color-gray-light-5: #f7f7f7;
$color-gray-light-1: #eee;
$color-gray-light-4: #e6e7e5;
$color-gray-light-6: #E2E2E2;
$color-gray-light-3: #dfdbdb;
$color-gray-light-2: #cacaca;
$color-gray-light-7: #c6c6c6;
$color-gray-dark-1:#63686e;
$color-gray-dark-2: #424153; //Colores negros
$color-black-1: #222831;
$color-black-2: #393e46;
//Colores blancos
$color-white-1: #fff;
$color-white-2: #f9f7f7;
$color-white-3: #f2f4fb;
//Colores verdes
$color-green-1: #155e63;
//Colores anaranjados
$color-orange-1: #ff7657;
$color-yellow-1: #f9b248;
//Colores test
$color-test: #771144;
$color-test-2: #4e9525;
//Color de fondo
$color-background-gradient: linear-gradient(to right, #e0eafc, #cfdef3);
//Tamaño de bordes
$border-width-1: 10px;
$margin-bg:5rem;
$margin-md:4rem;
$margin-sm:3rem;
$margin-heading-bottom: 8rem;
$margin-zero: 0;
//ancho de grid
$grid-width:190rem;
$vertical-gutter:4rem;
$horizontal-gutter:2rem;